
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
  :root{
    --primary-color:#111D63;
    --secondary-color:#1E57A0;
    --White-color:#FFFF;
    --bg: #F3F8FF;
    --bgg:#f9f9ff;
    --tertiary-color:#9CB3D7;
    --box-shadow:20px 20px 30px rgba(0, 0, 0, 0.04);
    --faint-text:#8F919B;
    --tailored-bg:#020827;
    --dashboard-bg:#F5F6FB;

  
  }
  
  a{
    text-decoration: none;
    color: white;
    background-color: transparent;
  }
  @font-face {
    font-family: 'sharp sans';
    src: url('./Components/Sharp\ Sans.otf');
  }
  @font-face {
    font-family: 'bold-sharp';
    src: url('./Components/SharpSansBold.otf');
  }
  @font-face {
    font-family: 'semibold';
    src: url('./Components/Sharp\ Sans\ Semibold.otf');
  }
  @font-face {
    font-family: 'italics';
    src: url('./Components/Sharp\ Sans\ Thin\ Italic.otf');
  }
  p,a,li{
    font-family: 'sharp sans';
  }
  p{
    line-height: 1.6em;
  }
  h1,h2,h3,h4{
    font-family: 'semibold';
  }
  li{
    list-style: none;
  
  }
  
  b{
    color: var(--primary-color);
  }
  button{
    border-radius: 52px;
    color: var(--White-color);
    padding: 16px 26px 16px 32px;
    border: none;
    outline: none;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  button:hover{
    opacity: 0.5;
    transform: scale(1.1);
    border: 2px solid white;
  }
  .container{
    width: 100%;
    margin:0 auto;
  }

  .dashboard.container{
    display: grid;
    gap: 30px;
    grid-template-columns: 14rem auto 23rem;
  }
aside a{
    color: #020827;
  }
  .dash{
    background-color: var(--dashboard-bg);
    width: 100vw;
    height: 100vh;
  }
  aside{
   height: 100vh;
   background-color: var(--White-color);
   box-shadow: var(--box-shadow);
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px 0;
   gap: 20px;

  }
  .sidebar{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .top{
    display:flex;
    flex-direction: column;
    gap: 80px;
  }
  .top .log{
     padding-top:20px;
  }
  .sidebar h3,
  .top .log,
  .logout h3{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 2rem;
  }
  .sidebar h3{
    position: relative;
    height: 1.6rem;
    transition: all 300ms ease;
  }
  .sidebar h3 span{
    padding-right: 10px;
    font-size: 18px;
  }
  .log .close{
    display: none;
  }
  .sidebar h3 .active{
    color: var(--primary-color);
    border-left: 8px solid var(--primary-color);
    transform: translateX(5px);
  }