
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
  :root{
    --primary-color:#111D63;
    --secondary-color:#1E57A0;
    --White-color:#FFFF;
    --bg: #F3F8FF;
    --bgg:#f9f9ff;
    --tertiary-color:#9CB3D7;
    --box-shadow:20px 20px 30px rgba(0, 0, 0, 0.04);
    --faint-text:#8F919B;
    --tailored-bg:#020827;
  
  }
  
  a{
    text-decoration: none;
    color: white;
    background-color: transparent;
  }
  @font-face {
    font-family: 'sharp sans';
    src: url('./Components/Sharp\ Sans.otf');
  }
  @font-face {
    font-family: 'bold-sharp';
    src: url('./Components/SharpSansBold.otf');
  }
  @font-face {
    font-family: 'semibold';
    src: url('./Components/Sharp\ Sans\ Semibold.otf');
  }
  @font-face {
    font-family: 'italics';
    src: url('./Components/Sharp\ Sans\ Thin\ Italic.otf');
  }
  p,a,li{
    font-family: 'sharp sans';
  }
  p{
    line-height: 1.6em;
  }
  h1,h2,h3,h4{
    font-family: 'semibold';
  }
  li{
    list-style: none;
  
  }
  
  b{
    color: var(--primary-color);
  }
  button{
    border-radius: 52px;
    color: var(--White-color);
    padding: 16px 26px 16px 32px;
    border: none;
    outline: none;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  button:hover{
    opacity: 0.5;
    transform: scale(1.1);
    border: 2px solid white;
  }
  .container{
    width: 90%;
    margin: auto;
  }